/* animation */
.imagep{
  height: auto;
  margin-bottom: 30px;
  background-color: #F6921E;
}
.crop{
  width: 311px;
  height: 311px;
  overflow: hidden;
}
#teddyImg{
  display: flex;
  align-content: center;
  justify-content: space-around;
  border: solid 1px black;
  background-color: white;
/*  margin-right: 30%;*/
}

#VMFAImg, #VMFImg, #proImg, #VMFWeb{
  display: flex;
  align-content: center;
  justify-content: space-around;
  border: solid 1px black;
  position: relative;
}
#VMFAImg{
    background-color: #F6921E;
}
.VMFA, .VMF, .vmfWeb, .pro, .teddy{
  position: absolute;
}
.VMFA{
  top: 3%;
  padding-left: 50px;
}
.teddy{
  top: 80px;
}

.vmfWeb{
  bottom: 0px;
}
.pro{
  bottom: -50px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.hov{
  display:block;
  height:311px;
  opacity:1;
  position:absolute;
  width:311px;
  text-align: center;
  vertical-align: middle;
}
#hov1, #hov2, #hov3, #hov4, #hov5{
  background-color: none;
}

.still{
  position: absolute;
  top:30%;
}
#teddyGif, #teddypng{
  height: 400px;
  width: auto;
}

